doctype html
head
  // fonts
  link(href='//fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet')
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

style 
  include ../public/style/doctorSignInDone.css
  include ../public/style/dcard.css
style.
  .navbar , .navbar a {
  cursor: pointer;
  }
  .navbar-brand{
  font-size: 25px;
  }
  .nav-link{
  font-size: 18px;
  }
  .nav-item{
  padding-left: 1em;
  }
  .navbar{
  border-radius: 30px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  }
  #heartbeat-icon{
  font-size: 30px;
  padding-right: 0.25em;
  color: #22a7cf;
  }
  #username{
  font-size: 18px;
  }
  #usericon{
  padding-right: 0.5em;
  }
  @media (min-width: 767px) {
  .navbar .dropdown-toggle:not(.nav-link)::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .5em;
  vertical-align: 0;
  border-bottom: .3em solid transparent;
  border-top: .3em solid transparent;
  border-left: .3em solid;
  }
  }
body
.navbar.navbar-expand-md.navbar-light.bg-white.mb-4(role='navigation')
  i#heartbeat-icon.fa.fa-heartbeat.icon
  a.navbar-brand(href='/') Smart Health Card
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/') Home 
          span.sr-only (current)
      li.nav-item.active
        a.nav-link(href='/PatientDetailsUpdate') Patient Details
      li.nav-item.active
        a.nav-link(href='/PatientRegister') Patient Register
      li.nav-item.active
        a.nav-link(href='#') About 
      li.nav-item.active
        a.nav-link(href='DoctorSignIn.html') Log Out
    p#username
      i#usericon.fa.fa-user.icon
      | #{record.name}


//- br
//- br
//- br
.bg-agile
  .book-appointment
    h2 Doctor Details
    form(action='#' method='post')
      .left-agileits-w3layouts.same
        .gaps
          p Doctor Name
          p.det #{record.name}  
        .gaps
          p Phone Number
          p.det #{record.mobileno}
        .gaps
          p Email
          p.det #{record.dob} 
      .right-agileinfo.same
        .gaps
          p License Number
          p.det #{record.license_no} 
        .gaps
          p City
          p.det #{record.city}
        .gaps
          p Gender
          p.det #{record.gender}
      .clear
      // <input type="submit" value="Make an appointment">
br
br
br
br
.displaycard
  link(href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet')
  .id-card-wrapper
    .id-card
      .heading
        | Smart Health Card
      .profile-row
        .dp
          // <img src="https://via.placeholder.com/420x420">
        .desc
          form(action='#' method='post')
            | Name
            p #{record.name} 
              //- input(type='text' name='Patient Name' placeholder='' required='')
            br
            | Lic. No
            p #{record.license_no}
              //- input(type='text' name='Number' placeholder='' required='')
            br
            | Date of Birth 
            p #{record.dob}
              //- input(type='text' name='email' placeholder='' required='')
            br
            | BG 
            p #{record.bloodgroup}
              //- input(type='text' name='email' placeholder='' required='')
            br
      .qrcode
        // <img src="pic1.jpg" alt="#">
      .photo
        // <img src="pic1.jpg" alt="#">
br
br
br

