doctype html
head
  link(href='//fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet')
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

style 
  include ../public/style/doctorSignInDone.css
  include ../public/style/dcard.css

body
  include ./navbar.pug
br
br
br
.bg-agile
  .book-appointment
    h2 Doctor Details
    form(action='#' method='post')
      .left-agileits-w3layouts.same
        .gaps
          p Doctor Name
          p.det #{record.name}  
        .gaps
          p Phone Number
          p.det #{record.mobileno}
        .gaps
          p Email
          p.det #{record.dob} 
      .right-agileinfo.same
        .gaps
          p License Number
          p.det #{record.license_no} 
        .gaps
          p City
          p.det #{record.city}
        .gaps
          p Gender
          p.det #{record.gender}
      .clear
      // <input type="submit" value="Make an appointment">
br
br
br
br
.displaycard
  link(href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet')
  .id-card-wrapper
    .id-card
      .heading
        | Smart Health Card
      .profile-row
        .dp
          // <img src="https://via.placeholder.com/420x420">
        .desc
          form(action='#' method='post')
            | Name
            p #{record.name} 
            br
            | Lic. No
            p #{record.license_no}
            br
            | Date of Birth 
            p #{record.dob}
            | BG 
            p #{record.bloodgroup}
            br
      .qrcode
        // <img src="pic1.jpg" alt="#">
      .photo
        // <img src="pic1.jpg" alt="#">
br
br
br

