doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='//fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto|Varela+Round')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto|Varela+Round')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='../public/style/PatientPersonalDetails.css')
  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
  //- for select all checkbox
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js') 
style
  include ../public/style/PatientPersonalDetails.css
  include ../public/style/style.css
script.
  $(document).ready(function(){
  // Activate tooltip
  $('[data-toggle="tooltip"]').tooltip();
  // Select/Deselect checkboxes
  var checkbox = $('table tbody input[type="checkbox"]');
  $("#selectAll").click(function(){
  if(this.checked){
  checkbox.each(function(){
  this.checked = true;
  });
  } else{
  checkbox.each(function(){
  this.checked = false;
  });
  }
  });
  checkbox.click(function(){
  if(!this.checked){
  $("#selectAll").prop("checked", false);
  }
  });
  });
    
body 
  nav.topnav
    a.active(href='/doctor') DOCTOR
    .dropdown
        // <a href="PatientDetails.html">PatientDetails</a>
        a(href='/PatientDetailsUpdate') PatientDetailsUpdate
        a(href='/PatientRegister') PatientRegister
    a(href='#about') ABOUT
    // <a href="#about">INFO</a>
    a(href='/PatientDetailsUpdate') LOGOUT
    .search-container
      form(action='https://www.google.com/search')
        button(type='submit')
          i.fa.fa-user
  // background
  .DoctorDetailForm
    h1  Patient Details 
  .bg-agile
    .book-appointment
      h2 Patient Personal Details
      form(action='')
        .left-agileits-w3layouts.same
          .gaps
            p Name
            p.det #{record.firstname} #{record.middlename}  #{record.lastname} 
            //- input(type='text' name='Name' id='name' )
          .gaps
            p Phone Number
            p.det #{record.mobileno}
            //- input(type='text' name='Number' placeholder='' )
          .gaps
            p Email
            p.det #{record.email} 
            //- input(type='email' name='email' placeholder='')
          .gaps
            p Aadhar Number
            p.det #{record.aadharcard} 
        .right-agileinfo.same
          .gaps
            p Date of Birth
            p.det #{record.dob} 
            //- input(name='Text' type='text' value='' )
          .gaps
            p Blood Group
            p.det #{record.bloodgroup}
            //- input(name='Text' type='text' value='')
          .gaps
            p Gender
            p.det #{record.gender}
            //- input(name='Text' type='text' value='' )
          .gaps
            p Address 
            p.det Surat,Gujarat 
        .clear
        // <input type="submit" value="Make an appointment">
  br
  br
  br
  br
  .container-xl
  .table-responsive
    .table-wrapper
      .table-title
        .row
          .col-sm-6
            h2
              | Health  
              b Report
          .col-sm-6
            a.btn.btn-success(href='#addEmployeeModal' data-toggle='modal' )
              i.material-icons &#xE147;
              span Add New data
            a.btn.btn-danger(href='#deleteEmployeeModal' data-toggle='modal')
              i.material-icons &#xE15C;
              span Delete
      table.table.table-striped.table-hover
        thead
          tr
            th
              span.custom-checkbox
                input#selectAll(type='checkbox')
                label(for='selectAll')
            th Date
            th Disease/Alergy
            th Medicine
            th Doctor 
            th Actions
        tbody
          tr
            td
              span.custom-checkbox
                input#checkbox1(type='checkbox' name='options[]' value='1')
                label(for='checkbox1')
            td #{hdata.meta[0].dt}
            td #{hdata.meta[0].disease}
            td #{hdata.meta[0].medicine}
            td #{hdata.meta[0].doctor}
            td
              a.edit(href='#editEmployeeModal' data-toggle='modal')
                i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
              a.delete(href='#deleteEmployeeModal' data-toggle='modal')
                i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
          tr
            td
              span.custom-checkbox
                input#checkbox1(type='checkbox' name='options[]' value='1')
                label(for='checkbox1')
            td #{hdata.meta[1].dt}
            td #{hdata.meta[1].disease}
            td #{hdata.meta[1].medicine}
            td #{hdata.meta[1].doctor}
            td
              a.edit(href='#editEmployeeModal' data-toggle='modal')
                i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
              a.delete(href='#deleteEmployeeModal' data-toggle='modal')
                i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
          
      .clearfix
        .hint-text
          | Showing 
          b 1
          |  out of 
          b 1
          |  entries
        ul.pagination
          li.page-item.disabled
            //- a(href='#') Previous
          li.page-item
            a.page-link(href='#') 1
          li.page-item
        //-     a.page-link(href='#') 2
        //-   li.page-item.active
        //-     a.page-link(href='#') 3
        //-   li.page-item
        //-     a.page-link(href='#') 4
        //-   li.page-item
        //-     a.page-link(href='#') 5
        //-   li.page-item
        //-     a.page-link(href='#') Next
#addEmployeeModal.modal.fade
  .modal-dialog
    .modal-content
      form(action='/adddata' method='post')
        .modal-header
          h4.modal-title Add Record
          button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
        .modal-body
          .form-group
            label Date
            input.form-control(type='date' name='dt' required='')
          .form-group
            label Disease 
            input.form-control(type='text' name='disease' required='')
          .form-group
            label Medicine
            textarea.form-control(type='text' name='medicine' required='')
          .form-group
            label Doctor 
            input.form-control(type='text' name='doctor' required='')
        .modal-footer
          input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
          input.btn.btn-success(type='submit' value='Add')
#deleteEmployeeModal.modal.fade
  .modal-dialog
    .modal-content
      form
        .modal-header
          h4.modal-title Delete Employee
          button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
        .modal-body
          p Are you sure you want to delete these Records?
          p.text-warning
            small This action cannot be undone.
        .modal-footer
          input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
          input.btn.btn-danger(type='submit' value='Delete')